@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter" , sans-serif;
    font-weight: 800;
}

h2{
    font-family: "Teko";
    font-size: 2rem;
    font-weight: 600;

    

    text-transform: uppercase;
}

.Cab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 4em;
    background-color: #e90530;
    color: white;

    /* position: fixed; */
}

.logo{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 5px;
}

.logo h2{
    align-self: center;
}

.logo img{
    width: 50px;
    height: 50px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

hr{
    border: 1px solid #15181f;
}

.Cab-Utilidades{
    display: flex;
    align-items: center;
    gap: 15px;
}

.Login{
    display: flex;
    align-items: center;
}
.Login img{
    width: 30px;
}

.icone{
    padding-top: 8px ;

    width: 35px;
    
}

.menu{
    padding-top: 15px ;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: #fff2e7;    
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
    gap: 2rem;
    padding-bottom: 8rem;
    background-color: #dcdcdc;
}

section{
    width: 77%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.Cards{
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.Sec-titulo{
    align-self: center;
}

.pesquisa{
    display: flex;
    flex-direction: row;
    width: 26em;
    justify-content: space-between;
    align-self: center;
}

.pesquisa input{
    width: 20em;
    font-size: 15px;
    padding-left: 20px;
    border-radius: 20px;
    border-style: none;
    border: 2px solid black;
    height: 40px;

    outline: none;
}

.pesquisa-buscar{
    display: flex;
}
.pesquisa-buscar img{
    padding: 0;
    width: 28px;
    align-self: center;
    margin-right: 10px;
    
}


.pesquisa-but {
    width: 5em;
    border: none;
    background-color: #15181f;
    color: white;
    border-radius: 5px; 
}

.pesquisa-but img{
    width: 70%;
}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 4em;

    /* padding-top: 4.5em; */
    gap: 17px;
}

.sec1-desc{
    display: flex;
    align-items: center;
    justify-content: center;

  
}
.sec1-desc span{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #000000c7;
}

.options{
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
}

#op{
    display: flex;
    justify-content: space-between;
    width: 73%;
}

#op a{
    background-color: #15181f;
    color: white;
    padding: 8px 15px;
    border-radius: 30px;
}

.card{
    display: flex;
    flex-direction: row;
    background-color: #eff3f6;
    width: 42%;
    border-radius: 10px;
    border: 2px solid #15181f;
}

.card img{
    width: 180px;
    border-right: 2px solid #15181f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card-pos{
    display: flex;
    flex-direction: column;
    width: 62%;
    padding-left: 5px;
    gap: 20px;
}

.card-tit{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: end;
}

.card-tit span{
    font-size: 13px;
    color: #ff0000d2;
}

.card-desc{
    display: flex;
    flex-direction: column;
    height: 70%;
    gap: 23px;
}

.card-desc p{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.card-prec{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

footer{
    background-color: #e90530;
    height: 23.4vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

footer h2,p{
    color: white;
}
